body {
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
  font-size: 16px;
  background-color: #37E0D6;
  background-image:linear-gradient(to right, rgb(38, 224, 179), rgb(38, 224, 222))

}
